.container {
  margin-top: 160px;
}

.mtbig {
  margin-top: 200px !important;
}

.action_buttons {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  width: 100%;
  display: flex;
  box-sizing: inherit;
}

.timeline {
  text-align: left;
  width: 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.changecar {
  color: rgba(255, 255, 255, 0.801);
  background: transparent;
  outline: none;
  border: none;
}

.buy_button {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 250px;
  border-radius: 12px;
  background: #0075FF;
  display: flex;
  height: 35px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: white;
  outline: none;
  border: none;
}

.service_card {
  transition: 0.2s all ease !important;
  border-radius: 20px !important;
  background: linear-gradient(175deg, rgba(6, 11, 40, 0.74) 0%, rgba(14, 21, 58, 0.71) 100%) !important;
  backdrop-filter: blur(60px) !important;
  width: 551px !important;
  min-height: 344px !important;
  padding-top: 27px;
  padding-bottom: 44px;
  padding-left: 31px;
  position: relative;
}

.service_card .name {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 0;
}

.service_card .type {
  color: #A0AEC0;
  font-size: 14px;
  font-weight: 400;
}

.chip-t {
  color: #A0AEC0;
  font-size: 14px;
  line-height: 100%;
  text-align: left;
}

.chip-v {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  text-align: left;
}

.styled-chip {
  border-radius: 20px;
  background: linear-gradient(175deg, #060C29 0%, rgba(4, 12, 48, 0.50) 100%);
  backdrop-filter: blur(60px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 99px 29px 24px;
  min-width: 217px;
  gap: 5px;
  width: fit-content;
}
.flex-chips{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.description-service{
  color: #A0AEC0;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-top: 20px;
  margin-left: 5px;
}

.service_card:hover {
  transform: scale(1.03);
}