.component {
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.component h1{
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 0px;
  color: white;
}
.component p{
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-align: center;
  max-width: 600px;
  margin-bottom: 40px;
}